
body {
    margin: 0;
    background-color: #f4f0e5;
    font-family: Tahoma;
}

/* imagem da logo */
.logo-tipo {
    width: 230px;
}
/* seção menu principal */
.secao {
    width: 950px;
    margin: 20px auto;
    text-align: center;
}
li {
    display: inline;
    padding: 5px 20px;

}
li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
a:hover {
    color: #de8e37;
}


/* seção do banner */
.secao h1 {
    border-top: 1px solid #de8e37;
    font-size: 40px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
.secao h2 {
    font-size: 35px;
    color: #de8e37;
    font-weight: normal;
    margin-top: 10px;
}
.banner {
    width: 950px;
}


/* secao produtos em destaque */
.secaoDestaque {
    width: 950px;
    margin: 20px auto;
    text-align: center;
    background-color: #de8e37;
}

.secaoDestaque h2, h3 {
    font-size: 30px;
    color: #fff;
    padding-top: 20px;
}
.secaoDestaque p{
    font-size: 25px;
    color: #fff;
    width: 750px;
    margin: 0 auto;
    padding-bottom: 10px;
    line-height: 30px;
}
.secaoDestaque img {
    width: 650px;
    padding-bottom: 15px;
}

/*seção contato */

#contato {
    font-size: 25px;
    padding-top: 30px;
}

span {
    font-weight: bold;
}

/* Rodapé */
footer {
    font-size: 22px;
    color: white;
    padding:15px 0;
    width: 950px;
    margin: 20px auto;
    text-align: center;
    background-color: black;
}
footer a{
    color: #FF9505;
    text-decoration: none;
    
}

@media (min-width: 300px) and (max-width: 709px) {
    .secao {
        width: 320px;
    }
    li {
        display: inline;
        padding: 5px;
    }
    .secao h1 {
        font-size: 20px;
    }
    .secao h2 {
        font-size: 18px;
    }
    .banner {
        width: 300px;
    }
    .secaoDestaque {
        width: 300px;
    }
    .secaoDestaque h2, h3{
        font-size: 18px;
    }
    .secaoDestaque img {
        width: 250px;
    }
    .secaoDestaque p {
        width: 250px;
    }
    #contato {
        width: 300px;
        font-size: 12px;
    }
    footer {
        width: 300px;
        font-size: 12px;
    }
    
}
@media (min-width: 710px) and (max-width: 960px) {
    .secao {
        width: 500px;
    }
    li {
        display: inline;
        padding: 5px;
    }
    .secao h1 {
        font-size: 32px;
    }
    .secao h2 {
        font-size: 30px;
    }
    .banner {
        width: 500px;
    }
    .secaoDestaque {
        width: 500px;
    }
    .secaoDestaque h2, h3{
        font-size: 22px;
    }
    .secaoDestaque img {
        width: 350px;
    }
    .secaoDestaque p {
        width: 350px;
    }
    #contato {
        width: 500px;
        font-size: 18px;
    }
    footer {
        width: 500px;
        font-size: 18px;
    }
    
}
